<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="IConfiguration" value="Configuration.Lib.AppConfig.Configuration, Configuration.Lib.AppConfig"/>
    <add key="IStorageMediaManager" value="Storage.Files.StorageMediaManager, Storage.Files"/>
    <add key="DefaultStorageMedia" value="Storage.Files.StorageMedia, Storage.Files"/>
    <add key="SessionStorageContext" value="Storage.Files.StorageContext, Storage.Files"/>
    <add key="FileStorageMediaRootFolder" value="C:\storage\"/>

  </appSettings>
</configuration>